.editar{
  background-color: #0b1d19;
  font-family: Roboto, serif;
  width: 56%;
  height: 64%;
  left: 17%;
  top: 8%;
  z-index: 1; /* Mejor fuera */
  position: fixed;
  color: aliceblue;
  float: left;
  padding-left: 2%;
}

::-webkit-scrollbar {
  width: 13px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 140, 128, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.5);
}

.muestra-imagenes{
  width: 80px;
  margin-left: 1vw;
}

input {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto, serif;
  background-color: #358c83;
  color: white;
  border: 2px solid #124828;
  border-radius: 4px;
  margin-top: 2px;
  width: 20%;
  box-sizing: border-box;
}

.botonCancelar{
  transition-duration: 0.4s;
  background-color: #8c2528;
  border-radius: 10px;
  margin-bottom: 2%;
  margin-right: 1%;
  float: right;
}
.botonCancelar:hover{
  background-color: indianred;
}

.botonBorrar{
  transition-duration: 0.4s;
  background-color: #8c2528;
  border-radius: 10px;
  margin-bottom: 2%;
  float: left;
}
.botonBorrar:hover{
  background-color: #5a0000;
  color: aliceblue;
}

.botonConfirmar{
  transition-duration: 0.4s;
  background-color: #358c83;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 2%;
  float: right;
}
.botonConfirmar:hover {
  background-color: #124828;
  color: white;
}

.denegado{
  transition-duration: 0.4s;
  background-color: #358c83;
  border-radius: 10px;
  cursor: not-allowed;
  margin-right: 2%;
  margin-bottom: 2%;
  float: right;
}

.denegado:hover {
  background-color: #124828; /* Green */
  color: white;
}

.textoBorrar{
  text-align: center;
  font-size: 25px;
}
