.panel{
  font-family: Roboto;
}
.titleL{
  font-palette: light;
  color: aliceblue;
  position: absolute;
  font-size: 20px;
  top:375px;
  margin-left: 15px;
}
.CrearList{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:410px;
  margin-left: 40px;

}
.iconoAñadir{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}
.fav{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:450px;
  margin-left: 40px;

}
.iconoFav{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}
.titleP{
  font-palette: light;
  color: aliceblue;
  position: absolute;
  font-size: 20px;
  top:90px;
  margin-left: 15px;
}
.ListP{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:120px;
  margin-left: 40px;

}
.addP{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}
.fave{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:160px;
  margin-left: 40px;

}
.favP{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}

.cuadrado {
  width:16vh;
  max-width: 100vh;
  height: 16vh;
  max-height: 100vh;
  position: absolute;
  bottom: 60px;
  margin-left: 265px;
  border: aliceblue solid ;
  background-image: url("../../assets/coronavirus.jpeg");
  background-size: cover;
}

.titulo{
  font-family: Roboto;
  font-size: 16px;
  color: aliceblue;
  bottom: 30px;
  float: left;
  margin-left: 265px;
  text-align: center;
  position: absolute;
}
.heart{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  position: absolute;
  width: 4vh;
  height: 4vh;
  margin-left:410px;
  text-align: center;
  bottom: 30px;
}

.autor{
  font-family: Roboto;
  font-weight: lighter;
  font-size: 14px;
  color: aliceblue;
  bottom: 15px;
  float: left;
  margin-left: 265px;
  text-align: center;
  position: absolute;
}
hr{
  position: absolute;
  top: 207px;
  width: 20vh;
  margin-left: 15px;

}
.linea2{
  position: absolute;
  top: 498px;
  width: 20vh;
  margin-left: 15px;

}

.vertical-menu {
  width: 21vh;
  height: 20vh;
  overflow-y: auto;
  position: absolute;
  top: 225px;
}

.vertical-menu a {
  background-color:#0b1d19;
  color: aliceblue;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 13px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 140, 128, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.5);
}


.vertical-menu2 {
  width: 21vh;
  height: 20vh;
  overflow-y: auto;
  position: absolute;
  top: 520px;
}

.vertical-menu2 a {
  background-color:#0b1d19;
  color: aliceblue;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}



/* parte de pantalla para crear nueva lista o podcast */
.crear{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(11,29,25,0.95);
  font-family: Roboto, serif;
}

.nueva{
  margin-left: 400px;
  margin-top: 50px;
  font-size: 70px;
}
.container{
  padding: 100px;
  color:aliceblue;
}
input[type=nombre]{
  padding: 35px 500px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 800px;
  display: block;
  border: 1px solid #091714;
  box-sizing: border-box;
  background-color: rgb(9, 23, 20);
  font-size: 25px;
  color: aliceblue;

}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

.button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 83.3px;
  margin-top: 400px;
  margin-left: 600px;
  margin-right: 50px;
  border: none;
  cursor: pointer;

}
button:hover {
  opacity: 1;
}
.cancel{
  width: auto;
  padding: 3px 10px;
  background-color: #e10015;
  margin-left: 615px;
  border: none;
  font-size: 20px;
  color: aliceblue;
}

.aceptar{
  width: auto;
  padding: 3px 10px;
  background-color: green;
  margin-left: 40px;
  border: none;
  font-size: 20px;
  color: aliceblue;
}

/* Pantalla de lista de favoritos canciones o podcast */

.favoritos{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 15%;
  width: 90%;
  height: 100%;
  background-color:rgba(11,40,23,1);
  font-family: Roboto, serif;
}

.container2{
  padding: 100px;
  color:aliceblue;
}

.misFavs {
  width:40vh;
  max-width: 100vh;
  height: 40vh;
  max-height: 100vh;
  position: absolute;
  bottom: 350px;
  margin-left: 10px;
  border: aliceblue solid ;
  background-image: url("../../assets/corazonFavoritos.png");
  background-size: cover;
}

.vertical-menu3 {
  width: 100vh;
  height: 88vh;
  overflow-y: auto;
  position: absolute;
  top: 75px;
  margin-left: 400px;
}

.vertical-menu3 a {
  background-color:#0b1d19;
  color: aliceblue;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}

.vertical-menu3 a:hover {
  background: #0b1d19;
}


.atras{
  width: auto;
  padding: 3px 10px;
  background-color: #e10015;
  margin-left: 40px;
  top: 500px;
  border: none;
  font-size: 20px;
  color: aliceblue;
  position: absolute;
}

.rep{
  width: auto;
  padding: 3px 10px;
  background-color: green;
  margin-left: 160px;
  border: none;
  font-size: 20px;
  color: aliceblue;
  position: absolute;
  top: 500px;
}

.tusFavs{
  margin-left: 80px;
  margin-top: 300px;
  font-size: 30px;
  position: absolute;
}
