<!--/********** PANEL IZQUIERDO ************/ -->
<div class="panel">
  <p class="titleP">PODCAST</p>
  <p class="ListP" (click)="mostrarCrearP=true; mostrarFavP=false">
    <img class="addP" src="../../assets/icons8-agregar-propiedad-96.png"> Crear lista</p>
  <p class="fave" (click)="mostrarFavP=!mostrarFavP;Servicio.nextMessage3(false);Servicio.nextMessageVistaPodcast(false);
    Servicio.activarVistaUsuario(false)">
    <img class= "favP" src="./../assets/icons8-lista-de-deseos-96.png"> Favoritos</p>
  <hr>
<p class="titleL">PLAYLISTS</p>
<p class="CrearList" (click)="mostrarCrearC=true;mostrarFav=false">
  <img class="iconoAñadir" src="../../assets/icons8-agregar-propiedad-96.png"> Crear lista</p>&nbsp;
<p class="fav" (click)="mostrarFav=!mostrarFav;Servicio.nextMessage3(false);Servicio.nextMessageVistaLista(false);
    Servicio.activarVistaUsuario(false)">
  <img class= "iconoFav" src="./../assets/icons8-lista-de-deseos-96.png"> Favoritos</p>
</div>

<!-- /**** LINEA HORIZONTAL 2 ******/ -->
<hr class="linea2">

<!-- /****** CUADRADO DE FOTO CANCION ACTUAL *****/ -->
<!--<div class="cuadrado" ></div> -->
<img class="cuadrado" src="{{Servicio.URL_API + album.caratula}}">

<!-- /********* TABLA PARA NOMBRE CANCION Y AUTOR DE CANCION ACTUAL ***********/ -->
<table>
  <tbody>
    <tr>
      <th class="titulo" (click)="Servicio.cargarAlbum(cancion.album);Servicio.nextMessage3(true)">{{cancion.name}}</th>
      <th>
        <img  class="heart" (click)="addFav(listaFav.id,cancion.id)" src="./../assets/icons8-me-gusta-100.png">
      </th>
    </tr>
   <!-- <tr>
      <th>
            <img *ngIf="enFav" class="heart" (click)="borrarCancion(cancion.id)" src="./../assets/icons8-Ya-me-gusta.png">
            *ngIf="noEnFav"
      </th>
    </tr>-->
    <tr>
      <th class="autor" (click)="
      Servicio.cargarArtista(cancion.artistas);
      Servicio.nextMessageArtista(true);"> {{cancion.artistas}}</th>
    </tr>
  </tbody>
</table>
<!--/****************** MENUS VERTICALES DE PLAYLIST Y PODCAST ********************/-->
<!-- vista lista de podcast -->
<ul class="vertical-menu" >
  <li  *ngFor="let podcast of listasUserPodcast; first as primero">
    <a *ngIf="!primero" (click)="listaPulsadaPodcast(podcast.id);Servicio.nextMessageVistaPodcast(!okVistaPodcast);Servicio.nextMessageFavList(false);
                              Servicio.nextMessage3(false);Servicio.activarVistaUsuario(false);
                              Servicio.nextMessageArtista(false)"> {{podcast.nombre}}</a>
  </li>
</ul>

<!-- Lista de playlist -->

<ul class="vertical-menu2" >
  <li  *ngFor="let playlist of listasUser; first as primero">
  <a *ngIf="!primero" (click)="enviarToVistaLista();listaPulsada(playlist.id);Servicio.nextMessageFavList(false);
                              Servicio.nextMessage3(false);Servicio.activarVistaUsuario(false);
                              Servicio.nextMessageArtista(false)"> {{playlist.nombre}}</a>
  </li>
</ul>


<!--************* PANTALLA CREAR LISTA PLAYLIST ******/-->

<div *ngIf="mostrarCrearC" class= "crear">
  <div class="container">
    <label class="nueva"><b>Crear nueva lista </b></label>
    <input type="nombre" placeholder="Nombre nueva lista" name="name" required  [(ngModel)]="nombreLista">
  </div>
  <button (click)="mostrarCrearC=false" class="cancel">Cancelar</button>
  <button (click)="mostrarCrearC=false; nuevaListaCanciones()" class="aceptar">Crear</button>
</div>

<!--************* PANTALLA CREAR LISTA PODCAST ******/-->

<div *ngIf="mostrarCrearP" class= "crear">
  <div class="container">
    <label class="nueva"><b>Crear nueva lista </b></label>
    <input type="nombre" placeholder="Nombre nueva lista" name="name" required minlength="1" [(ngModel)]="nombreListaPodcast">
  </div>
  <button (click)="mostrarCrearP=false" class="cancel">Cancelar</button>
  <button (click)="mostrarCrearP=false;nuevaListaPodcast()" class="aceptar">Crear</button>
</div>


<!--********* PANTALLA FAVORITO DE CANCIONES  *********-->
<div *ngIf="mostrarFav" class= "favoritos">
  <div class="container2">
    <div class="misFavs"></div>
    <span *ngIf="listaOrdenada.length>0" (click)="reproducir(listaFav.canciones);"><img title="Reproducir lista"
         class="img-repr-lista" src="../../assets/playLista.png"></span>
    <nav class="menuCSS3">
      <ul>
        <li><a href="#"><img class="iconOrden" src="../../assets/icons8-flechas-de-ordenar-100.png"></a>
          <ul>
            <li><a href="#" (click)="porFecha=true;ordenarFecha()">Últimas añadidas</a></li>
            <li><a href="#" (click)="porArtista=true">Por artista</a></li>
            <li><a href="#" (click)="porNombre=true">Por nombre</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="marco-tabla">
      <table class="lista-playlist">
        <tr *ngFor="let cancion of listaOrdenada; let i = index">
          <td  class="listaGen">
            <img class="imgGenCancion" (click)="Servicio.cargarAlbum(cancion.album);Servicio.reproducirCancion(cancion);Servicio.enviarAlbumPlay(albAct)"
                                     src="../../assets/play-vector.svg"/></td>
          <td  class="titulos-album" (click)="Servicio.cargarAlbum(cancion.album);Servicio.nextMessage3(true);
          Servicio.nextMessageFavList(false)">{{ cancion.name }}</td><td>{{cancion.artistas}}</td>
          <td>{{sacarTiempo(cancion.duracion)}}</td><td>Pista {{i+1}}</td>
          <td><img class="img-papel" (click)="borrarCancion(cancion.id)" src="../../assets/trash.png"/></td>
        </tr>
      </table>
    </div>
    <label class="tusFavs"><b>Tus favoritos</b></label>
    <label class="usuario"><b>{{usuario.nick}}</b></label>
  </div>
</div>

<!-- Favoritos de podcasts -->
<div *ngIf="mostrarFavP" class= "favoritos">
  <div class="container2">
    <div class="misFavs"></div>
    <span *ngIf="listaFavPodcast.podcasts.length >0" (click)="reproducir(listaFavPodcast.podcasts);"><img  title="Reproducir lista"
                                                                                                            class="img-repr-lista" src="../../assets/playLista.png"></span>
    <!-- <nav class="menuDesplegable">
       <ul>
         <li><img class="iconOrden" src="../../assets/icons8-flechas-de-ordenar-100.png">
           <ul>
             <li><a (click)="porFecha=true">Por fecha de subida</a></li>
             <li><a (click)="porArtista=true">Por artista</a></li>
             <li><a (click)="porNombre=true">Por nombre</a></li>
           </ul>
         </li>
       </ul></span>
     </nav>-->
    <div class="marco-tabla">
      <table class="lista-playlist">
        <tr *ngFor="let podcast of listaFavPodcast.podcasts; let i = index">
          <td  class="listaGen">
            <img class="imgGenCancion" (click)="Servicio.reproducirPodcast(podcast)"
                 src="../../assets/play-vector.svg"/></td>
          <td  class="titulos-album" (click)="Servicio.nextMessage3(true);
        Servicio.nextMessageFavList(false)">{{ podcast.name }}</td><td>{{podcast.artista}}</td>
          <td>{{sacarTiempo(podcast.duracion)}}</td><td>Pista {{i+1}}</td>
          <td><img class="img-papel" (click)="borrarPodcast(podcast.id)" src="../../assets/trash.png"/></td>
        </tr>
      </table>
    </div>
    <label class="tusFavs"><b>Tus favoritos</b></label>
    <label class="usuario"><b>{{usuario.nick}}</b></label>
  </div>
</div>

