<div class="panel">
  <p class="titleP">PODCAST</p>
  <p class="ListP">
    <img class="addP" src="../../assets/icons8-agregar-propiedad-96.png"> Crear lista</p>&nbsp;
  <p class="fave">
    <img class= "favP" src="./../assets/icons8-lista-de-deseos-96.png"> Favoritos</p>

<p class="titleL">PLAYLISTS</p>
<p class="CrearList">
  <img class="iconoAñadir" src="../../assets/icons8-agregar-propiedad-96.png"> Crear lista</p>&nbsp;
<p class="fav">
  <img class= "iconoFav" src="./../assets/icons8-lista-de-deseos-96.png"> Favoritos</p>
</div>

<div class="cuadrado"></div>
<table>
  <tbody>
    <tr>
      <th class="titulo">It's Corona time</th>
      <th><img class="heart" src="./../assets/icons8-me-gusta-100.png"></th>
    </tr>
    <tr>
      <th class="autor"> Coronavirus</th>
    </tr>
  </tbody>
</table>
