<!--/********** PANEL IZQUIERDO ************/ -->
<div class="panel">
  <p class="titleP">PODCAST</p>
  <p class="ListP" (click)="mostrarCrear=true; mostrarFav=false">
    <img class="addP" src="../../assets/icons8-agregar-propiedad-96.png"> Crear lista</p>
  <p class="fave" (click)="mostrarFav=true">
    <img class= "favP" src="./../assets/icons8-lista-de-deseos-96.png"> Favoritos</p>
  <hr>
<p class="titleL">PLAYLISTS</p>
<p class="CrearList" (click)="mostrarCrear=true;mostrarFav=false">
  <img class="iconoAñadir" src="../../assets/icons8-agregar-propiedad-96.png"> Crear lista</p>&nbsp;
<p class="fav" (click)="mostrarFav=true">
  <img class= "iconoFav" src="./../assets/icons8-lista-de-deseos-96.png"> Favoritos</p>
</div>

<!-- /**** LINEA HORIZONTAL 2 ******/ -->
<hr class="linea2">

<!-- /****** CUADRADO DE FOTO CANCION ACTUAL *****/ -->
<div class="cuadrado"></div>

<!-- /********* TABLA PARA NOMBRE CANCION Y AUTOR DE CANCION ACTUAL ***********/ -->
<table>
  <tbody>
    <tr>
      <th class="titulo">It's Corona time</th>
      <th><img class="heart" src="./../assets/icons8-me-gusta-100.png"></th>
    </tr>
    <tr>
      <th class="autor"> Coronavirus</th>
    </tr>
  </tbody>
</table>
<!--/****************** MENUS VERTICALES DE PLAYLIST Y PODCAST ********************/-->
<div class="vertical-menu">
  <a href="#"  (click)="sendMessageAlbum()">Rock</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
  <a href="#">Link 5</a>
  <a href="#">Link 6</a>
  <a href="#">Link 7</a>
  <a href="#">Link 8</a>
  <a href="#">Link 9</a>
  <a href="#">Link 10</a>
</div>
<div class="vertical-menu2">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
  <a href="#">Link 5</a>
  <a href="#">Link 6</a>
  <a href="#">Link 7</a>
  <a href="#">Link 8</a>
  <a href="#">Link 9</a>
  <a href="#">Link 10</a>
</div>


<!--************* PANTALLA CREAR LISTA PLAYLIST Y PODCAST ******/-->

<div *ngIf="mostrarCrear" class= "crear">
  <div class="container">
    <label class="nueva"><b>Crear nueva lista </b></label>
    <input type="nombre" placeholder="Nombre nueva lista" name="name" required>
  </div>
  <button (click)="mostrarCrear=false" class="cancel">Cancelar</button>
  <button (click)="mostrarCrear=false" class="aceptar">Crear</button>
</div>


<!--********* PANTALLA FAVORTO DE CANCIONES Y PODCAST *********-->
<div *ngIf="mostrarFav" class= "favoritos">
  <div class="container2">
    <div class="misFavs"></div>
    <div class="vertical-menu3">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
      <a href="#">Link 5</a>
      <a href="#">Link 6</a>
      <a href="#">Link 7</a>
      <a href="#">Link 8</a>
      <a href="#">Link 9</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
      <a href="#">Link 10</a>
    </div>
    <label class="tusFavs"><b>Tus favoritos</b></label>
    <button (click)="mostrarFav=false" class="atras">Atras</button>
    <button class="rep">Reproducir</button>
  </div>
</div>



