.panel{
  font-family: Roboto;
}
.titleL{
  font-palette: light;
  color: aliceblue;
  position: absolute;
  font-size: 20px;
  top:375px;
  margin-left: 15px;
}
.CrearList{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:410px;
  margin-left: 40px;

}
.iconoAñadir{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}
.fav{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:450px;
  margin-left: 40px;

}
.iconoFav{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}
.titleP{
  font-palette: light;
  color: aliceblue;
  position: absolute;
  font-size: 20px;
  top:90px;
  margin-left: 15px;
}
.ListP{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:120px;
  margin-left: 40px;

}
.addP{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}
.fave{
  font-palette: light;
  color: aliceblue;
  float: left;
  position: absolute;
  font-size: 16px;
  top:160px;
  margin-left: 40px;

}
.favP{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  width: 5vh;
  height: 5vh;
  margin-left: -27px;
}

.cuadrado {
  width:16vh;
  max-width: 100vh;
  height: 16vh;
  max-height: 100vh;
  position: absolute;
  bottom: 60px;
  margin-left: 175px;
  border: aliceblue solid ;
  background-image: url("../../assets/coronavirus.jpeg");
  background-size: auto;
}

.titulo{
  font-family: Roboto;
  font-size: 16px;
  color: aliceblue;
  bottom: 30px;
  float: left;
  margin-left: 171px;
  text-align: center;
  position: absolute;
}
.heart{
  border-radius: 20%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align: middle;
  position: absolute;
  width: 4vh;
  height: 4vh;
  margin-left:330px;
  text-align: center;
  bottom: 30px;
}

.autor{
  font-family: Roboto;
  font-weight: lighter;
  font-size: 14px;
  color: aliceblue;
  bottom: 15px;
  float: left;
  margin-left: 170px;
  text-align: center;
  position: absolute;
}
hr{
  position: absolute;
  top: 207px;
  width: 20vh;
  margin-left: 15px;

}
.linea2{
  position: absolute;
  top: 498px;
  width: 20vh;
  margin-left: 15px;

}

.vertical-menu {
  width: 21vh;
  height: 20vh;
  overflow-y: auto;
  position: absolute;
  top: 225px;
}

.vertical-menu a {
  background-color:#0b1d19;
  color: aliceblue;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background: #0b1d19;
}
.vertical-menu::-webkit-scrollbar-track{
  background: #0b1d19;
}

.vertical-menu::-webkit-scrollbar-track:active,
.vertical-menu::-webkit-scrollbar-track:hover{
  background: #0b1d19;
}

.vertical-menu2 {
  width: 21vh;
  height: 20vh;
  overflow-y: auto;
  position: absolute;
  top: 520px;
}

.vertical-menu2 a {
  background-color:#0b1d19;
  color: aliceblue;
  display: block;
  padding: 8px 20px;
  text-decoration: none;
}

.vertical-menu2 a:hover {
  background: #0b1d19;
}
.vertical-menu2::-webkit-scrollbar-track{
  background: #0b1d19;
  width: 10px;
}

.vertical-menu2::-webkit-scrollbar-track:active,
.vertical-menu2::-webkit-scrollbar-track:hover{
  background: #0b1d19;
  width: 5vh;
}
