.barraSearch{
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: Roboto;
  font-size: 16px;
  color: aliceblue;
  border: solid 2px #8eff3b;
  background-color: #ff00ab;
  padding: 9px 18px;
  width: 200px;
}
