<div *ngIf="aparecerUsuario" class="vista-usuario">
  <img class="img-Usuario" src="../../assets/profile-pics/{{usuario.nombre_avatar}}"/>
  <div class="nombreUsuario">{{usuario.nombre}} {{usuario.apellidos}}</div>
  <div class="nick-usuario">{{usuario.nick}}</div>
  <div class="marco-ultimo">
    <table class="lista-playlist">
      <tr>
        <span *ngIf="esPodcast==true">
          <td  class="listaGen"><img class="imgGenCancion" src="../../assets/podcast1.jpg"/></td>
          <td  class="titulos">{{podcast.name}}</td>
          <td class="ultimoAlbumArtistas">{{podcast.artista}}</td>
        </span>

        <span *ngIf="esPodcast==false">
          <td  class="listaGen"><img class="imgGenCancion" src="{{Servicio.URL_API+ultimAlbum.caratula}}"/></td>
          <td  class="titulos" (click)="Servicio.cargarAlbum(ultimAlbum.titulo);Servicio.nextMessage3(true);
              Servicio.activarVistaUsuario(false)">{{ultimAlbum.titulo}}</td>
          <td class="ultimoAlbumArtistas" (click)="
              Servicio.cargarArtista(ultimAlbum.artista);
              Servicio.nextMessageArtista(true);
              Servicio.activarVistaUsuario(false)">{{ultimAlbum.artista}}</td>
        </span>

      </tr>
    </table>
  </div>

  <div class="marco-tabla">
    <table class="lista-playlist">
      <tr *ngFor="let lista of usuario.lista_cancion; let i = index;first as primero">
        <td  class="listaGen"><img class="imgGenCancion" src="../../assets/ListaDefecto.png"/></td>
        <td  class="titulos" (click)=" Servicio.nextMessageVistaLista(!okVista);listaPulsada(lista.id);Servicio.nextMessageUsuarioList(usuario);
                              Servicio.activarVistaUsuario(false)">{{ lista.nombre }}</td>
        <td><span *ngIf="usuario.id==usuarioLog.id">
          <img *ngIf="!primero" class="img-papel2" (click)="borrar(lista.id)" src="../../assets/trash.png"/></span> </td>
      </tr>
    </table>
  </div>
  <div class="marco-tabla2">
    <table class="lista-podcast">
      <tr *ngFor="let podcast of usuario.lista_podcast; let i = index; first as primero">
        <td  class="listaGen"><img class="imgGenCancion" src="../../assets/podcast1.jpg"/></td>
        <td  class="titulos" (click)="Servicio.nextMessageVistaPodcast(!okVistaPodcast);listaPulsadaPodcast(podcast.id);
          Servicio.activarVistaUsuario(false);Servicio.nextMessageUsuarioList(usuario)">{{ podcast.nombre }}</td>
        <td><span *ngIf="usuario.id==usuarioLog.id">
          <img *ngIf="!primero" class="img-papel2" (click)="borrarPodcast(podcast.id)" src="../../assets/trash.png"/></span></td>
      </tr>
    </table>
  </div>


</div>

