.vista-lista{
  background-color:#0b1d19; /*#0b1d19*/
  width: 61%;
  height: 62%;
  left: 14%;
  top: 10.5%;
  z-index: 1; /* Mejor fuera */
  position: fixed;
  font-family: Trebuchet MS, serif;
  color: aliceblue;
}

.img-lista{
  margin-left: 2%;
  width: 11%;
  top: 0%;
  position: absolute;
}

.img-papel{
  margin-left: 83%;
  width: 4%;
  height: 9%;
  top: 2%;
  position: absolute;
  cursor: pointer;
}
.img-repr-lista {
  width: 4%;
  position: absolute;
  right: 22%;
  top: 3%;
  cursor: pointer;
}

.nombrePlaylist{
  top: 10.5%;
  left: 24%;
  position: fixed;
  border-style: solid;
  border-color: #b4b4b4;
  /*border-inline-start-width: 8px;*/
  width: fit-content;
  font-size: 90%;

}

.imgGenCancion{
  width: 1.5vw;
  vertical-align: middle;
  cursor: pointer;
}

.lista-playlist{

  overflow: auto;
  width: 90%;
  height: 30%;
  top: 100%;
}
.lista-podcast{

  overflow: auto;
  width: 90%;
  height: 30%;
  top: 100%;
}

.marco-tabla{
  margin-left: 3%;
  height: 80%;
  width: 47.5%;
  top: 23%;
  overflow: auto;
  vertical-align:middle;
  position: absolute;
}
.marco-tabla2{
  margin-left: 47.5%;
  height: 80%;
  width: 47.5%;
  top: 23%;
  overflow: auto;
  vertical-align:middle;
  position: absolute;
}


.listaGen{
  vertical-align:middle;
  text-align:center;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 10%;
}


.titulo-lista{
  top: 14%;
  left: 24%;
  font-size: 250%;
  display: inline-block;
  position: fixed;
}

.artista-lista{
  top: 20%;
  left: 24%;
  font-size: 100%;
  font-style: italic;
  position: fixed;
}

::-webkit-scrollbar {
  width: 13px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 140, 128, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.5);
}

.img-papel2{
  cursor: pointer;
  width: 1.5vw;
  vertical-align: middle;
}

.titulos-album:hover{
  cursor: pointer;
  text-decoration: underline;
}
