div{
  margin-top: -100px;
  margin-left: 25%;
  border-radius: 100%;
  width: 200px;
  height: 20px;
  position: relative;
}

input{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: white;
  border-radius: 50px;
}

img {
  height:20px;
  position:absolute;
  right:5px;
  top:10px;
}
