div{
  margin-top: -130px;
  margin-left: 25%;
  border-radius: 100%;
  width: 200px;
  height: 35px;
  position: relative;
}

input{
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: white;
  border-radius: 50px;
  padding-right: 36px;
}

img {
  height:20px;
  position:absolute;
  margin-right: -38px;
  right:2px;
  top:10px;
}
