<div class="barraBusqueda">
  <input class="barra" type="text" placeholder="Búsqueda" [(ngModel)]="buscado" #reference>
  <input type="image" class="lupa" (click)="buscarContenido(); reference.value=''" src="./../assets/lens.png">
</div>

<button  *ngIf="mostrarBusqueda" class="botonCancelar" (click)="cancelarBusqueda()">Cancelar búsqueda</button>
<div *ngIf="mostrarBusqueda" class="busca">
  <p class="cabecera" *ngIf="numCancion == 1">Canción encontrada</p>
  <p class="cabecera" *ngIf="numCancion > 1">Canciones encontradas</p>
  <table *ngIf="numCancion != 0">
    <tr *ngFor="let cancion of cancionEncontrada; let i = index" class="loBuscado">
      <td><img (click)="Servicio.reproducirCancion(cancion);
      pasarCaratula(cancion.album);"
               title="Reproducir" class="img-play-album" src="../../assets/play-vector.svg"/></td>
      <!--<td><img class="foto-busqueda"  src="{{cancion.album.caratula}}"></td>-->
      <!--<td><img class="foto-busqueda"  src="./../assets/album/Led_Zeppelin-Led_Zeppelin_IV-Frontal.jpg"></td>-->
      <td class="texto_cancion">{{cancion.name}}</td>
    </tr>
  </table>
  <p class="cabecera" *ngIf="numAlbum == 1">Álbum encontrado</p>
  <p class="cabecera" *ngIf="numAlbum > 1">Álbumes encontrados</p>
  <table *ngIf="numAlbum != 0">
    <tr *ngFor="let album of albumEncontrado; let i = index">
      <td><img class="foto-busqueda" src="{{Servicio.URL_API+album.caratula}}" (click)="
      cancelarBusqueda();
      Servicio.cargarAlbum(album.titulo);
      Servicio.nextMessage3(true);"></td>
      <td class="texto-busqueda" (click)="
      cancelarBusqueda();
      Servicio.cargarAlbum(album.titulo);
      Servicio.nextMessage3(true);">{{album.titulo}}</td>
    </tr>
  </table>
  <p class="cabecera" *ngIf="numArtista == 1">Artista encontrado</p>
  <p class="cabecera" *ngIf="numArtista > 1">Artistas encontrados</p>
  <table *ngIf="numArtista != 0">
    <tr *ngFor="let artista of artistaEncontrado; let i = index">
      <td><img class="foto-busqueda" src="{{Servicio.URL_API+artista.image_path}}" (click)="
      cancelarBusqueda();
      cargarArtista(artista.name);"></td>
      <td class="texto-busqueda" (click)="
      cancelarBusqueda();
       cargarArtista(artista.name);">{{artista.name}}</td>
    </tr>
  </table>
  <p class="cabecera" *ngIf="numPodcast == 1">Podcast encontrado</p>
  <p class="cabecera" *ngIf="numPodcast> 1">Podcasts encontrados</p>
  <table *ngIf="numPodcast != 0">
    <tr *ngFor="let podcast of podcastEncontrado; let i = index">
      <td><img (click)="Servicio.reproducirPodcast(podcast);"
               title="Reproducir" class="img-play-album" src="../../assets/play-vector.svg"/></td>
      <td><img class="img-add-list" (click)="vistaSelPod = true; podcastObjetivo = podcast.id;"
               title="Añadir a lista..." src="../../assets/addToList.png" ></td>
      <!--<td><img class="foto-busqueda"  src="{{cancion.album.caratula}}"></td>-->
      <!--<td><img class="foto-busqueda"  src="./../assets/album/Led_Zeppelin-Led_Zeppelin_IV-Frontal.jpg"></td>-->
      <td class="texto_cancion">{{podcast.name}}</td>
    </tr>
  </table>
 <!-- <p class="texto-busqueda" *ngIf="noEncuentraLista == false"  (click)="
  cancelarBusqueda();
  enviarToVistaLista();
  Servicio.nextMessageObjLista(this.listaEncontrada);
  Servicio.nextMessageFavList(false);
  Servicio.nextMessage3(false)"
  >{{listaEncontrada.nombre}}</p>-->

  <p class="cabecera" *ngIf="numArtista == 0 && numAlbum == 0 && numCancion == 0 && numPodcast == 0 && noEncuentraLista == true && noEncuentraListaP == true">No se han encontrado resultados</p>

</div>

<div *ngIf="vistaSelPod" class= "encima">
  <div class="encuadre">
    <label class="titulo-eleccion"><b>Añadir podcast a... </b></label>
    <i *ngFor="let lista of usuarioLogeado.lista_podcast; let i = index">
      <hr style="width: 50%"><br/>
      <i class="enlace" (click)="anyadirAlista(lista.id, podcastObjetivo); vistaSelPod = false;">
        {{lista.nombre}}</i>
    </i>
    <hr style="width: 50%"><br/><br/>
    <button (click)="vistaSelPod = false">Cancelar</button>
  </div>

</div>
