<div class="panel-social">

  <p class="nombre-user">
    <img class="foto-perfil" src="../../assets/profile-pics/1.jpg"/>&nbsp;Usuario
    &nbsp;&nbsp;<img (click)="sendMessageFather()"  class="icono-config" src="../../assets/ajustes.png"/> </p>
  <br/>
  <p *ngIf="listaVacia">Tu lista de amigos está actualmente vacía.<br/><br/>
    Puedes agregar usuarios a tu lista desde el botón inferior.</p>

  <!-- Construir lista con un ngFor  *ngIf="!listaVacia" class="listaAmigos"--->
  <table >

    <tbody > <!--*ngFor="let usu of usuario.amigos"--->
    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/2.jpg"></td>
      <td> usu.nick </td>
    </tr>
    <tr> <td>  usu.nombre; usuario.apellidos;  </td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion">Signs of Life · Poets of the Fall</i> </td>
    </tr>
    </tbody>
    <br/>

    <!-- Construir lista con un ngFor --->


    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/5.jpg"></td>
      <td > Juan1992</td>
    </tr>
    <tr> <td> Juan Castillo</td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> Warriors of the World · Manowar</i> </td>
    </tr>

    <br/>

    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/4.jpg"></td>
      <td > Sara07</td>
    </tr>
    <tr> <td> Sara López</td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> Rainbow · Tyfoon</i> </td>
    </tr>

    <br/>




  </table>


</div>
<button class="boton-aux2" (click)="activarBusqueda()">Buscar usuarios de CS Music</button>


<!-- Busqueda de amigos --->

<div *ngIf="mostarBusquedaAmigos" class="agregar-amigos">
  <button class="boton-aux" (click)="cerrarBusqueda()">Cerrar Busqueda</button>

  <p class="text-busqu"> Introduzca el alias (Nick) del usuario a buscar</p>
  <input type="text" [(ngModel)]="nickBusca">

  <button  class="boton-busqueda" (click)="buscarAmigo()">Buscar</button>
  <p *ngIf="noEncuentra">
    El usuario especificado no se ha encontrado en la aplicación.
  </p>

  <!-- caso que encuentra el usuario -->


  <br/>

  <!-- caso que encuentra el usuario -->
  <table style="padding-left: 20%" *ngIf="!noEncuentra && busqIniciada">
    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/4.jpg"></td>
      <td>{{usuario.nick}}</td>
    </tr>
    <tr> <td> Sara López</td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> · Tyfoon</i> </td>
    </tr>
    <tr><p><button (click)="agregarAmigo()">Agregar amigo</button></p></tr>
  </table>

  <!-- caso que encuentra el usuario -->


  <!-- caso que encuentra el usuario -->
</div>
