.panel-social{
  font-family: Roboto, serif;
  color: aliceblue;
  border: dashed antiquewhite;
  position: absolute;
  height: 80vh;
  width: 40vh;
  top: 2%;
  right: 0.5%;

}

.foto-perfil{
  border-radius: 50%; /*Ajustar dependiendo dle estilo. Material design dice 50%. */
  vertical-align:middle;
  width: 5vh;
}

.nombre-user{
  text-align: center;
  border: solid whitesmoke;
}

.boton-aux{
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.boton-aux2{
  position: absolute;
  alignment: center;
  bottom: 10%;
  right: 17%;
}

p{
  font-size: 24px;
  text-align: center;
  font-style: italic;
}


button {
  transition-duration: 0.4s;
  background-color: #358c83;
  border-radius: 10px;
}

button:hover {
  background-color: #124828; /* Green */
  color: white;
}

td{
  alignment: center;
  margin-inside: 3px;
}
