.panel-social{
  font-family: Roboto, serif;
  color: aliceblue;
  border: solid #0b1713;
  position: absolute;
  overflow: auto;
  height: 80vh;
  width: 43vh;
  top: 2%;
  right: 0.5%;

}

.foto-perfil{
  border-radius: 50%; /*Ajustar dependiendo del estilo. Material design dice 50%. */
  vertical-align:middle;
  margin-right: auto;
  width: 5vh;
}

.icono-config{
  position: absolute;
  right: 8%;
  vertical-align: middle;
  width: 30px;
}


.nombre-user{
  text-align: center;
  border: solid #0b1713;
}

.boton-aux{
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.boton-aux2{
  position: absolute;
  alignment: center;
  bottom: 5%;
  right: 4%;
}

p{
  font-size: 24px;
  text-align: center;
  font-style: italic;
}


button {
  transition-duration: 0.4s;
  background-color: #358c83;
  border-radius: 10px;
}

button:hover {
  background-color: #124828; /* Green */
  color: white;
}

td{
  alignment: center;
  margin-inside: 3px;
}

.listaAmigos{
  margin-left: 5%;
}

.ultima-cancion{
  font-family: Calibri;
}
