<div class="panel-social">
  <hr>
  <p class="nombre-user">
    <img class="foto-perfil" src="../../assets/profile-pics/1.jpg"/>&nbsp;{{usuarioLogeado.nick}}
    &nbsp;&nbsp;<img (click)="sendMessageFather()"  class="icono-config" src="../../assets/ajustes.png"/>
  </p>
  <hr>
  <br/>
  <p *ngIf="usuarioLogeado.amigos.length==0">Tu lista de amigos está actualmente vacía.<br/><br/>

    Puedes agregar usuarios a tu lista desde el botón inferior.</p>

  <!-- Construir lista con un ngFor  *ngIf="!listaVacia" class="listaAmigos"--->
  <div class="contenido-amigos">
  <table *ngFor="let usu of usuarioLogeado.amigos">

      <!--*ngFor="let usu of usuario.amigos"--->
    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/4.jpg"></td>
      <td> {{usu.nick}} </td>
    </tr>
    <tr>{{usu.nombre}} {{usu.apellidos}}<td></td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> Signs of Life · Poets of the Fall</i> </td>
    </tr><br/>





    <!-- Construir lista con un ngFor
<tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/4.jpg"></td>
      <td> usu.nick </td>
    </tr>
    <tr>usu.nombre}} usu.apellidos}}<td></td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> Signs of Life · Poets of the Fall</i> </td>
    </tr><br/>


    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/5.jpg"></td>
      <td > Juan1992</td>
    </tr>
    <tr> <td> Juan Castillo</td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> Warriors of the World · Manowar</i> </td>
    </tr>

    <br/>

    <tr>
      <td rowspan="2"><img class="foto-perfil" src="../../assets/profile-pics/4.jpg"></td>
      <td > Sara07</td>
    </tr>
    <tr> <td> Sara López</td> </tr>
    <tr> <td></td> <td> <img width="10px"  src="../../assets/last.png">
      <i class="ultima-cancion"> Rainbow · Tyfoon</i> </td>
    </tr>

    <br/>

--->


  </table>
</div>

</div>
<button class="boton-aux2" (click)="activarBusqueda()">Buscar usuarios de CS Music</button>


<!-- Busqueda de amigos --->

<div *ngIf="mostarBusquedaAmigos" class="agregar-amigos">
  <button class="boton-cierra-busq" (click)="cerrarBusqueda()">Cerrar Busqueda</button>

  <p class="text-busqu"> Introduzca el alias (Nick) del usuario a buscar</p>
  <input type="text" [(ngModel)]="nickBusca">

  <button  class="boton-busqueda" (click)="buscarAmigo()">Buscar</button>
  <p *ngIf="noEncuentra">
    El usuario especificado no se ha encontrado en la aplicación.
  </p><br/><br/>

  <!-- caso que encuentra el usuario -->
  <table class="tabla-busq" *ngIf="!noEncuentra && busqIniciada">
    <tr>
      <td rowspan="2" ><img class="foto-perfil-busq" src="../../assets/profile-pics/4.jpg"></td>
      <td>{{usuarioBuscado.nick}}</td>
    </tr>
    <tr> <td>{{usuarioBuscado.nombre}} {{usuarioBuscado.apellidos}}</td> </tr>
    <tr colspan="2"> <td></td> <td> <img width="4%"  src="../../assets/last.png">
      <i class="ultima-cancion"> Ultima reproducción</i> </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button *ngIf="!existeAmigo(usuarioBuscado.nick) && !esAutoBusqueda()"
                (click)="agregarAmigo()">Agregar amigo</button>
        <i *ngIf="existeAmigo(usuarioBuscado.nick)">En la lista de amigos</i>
       <i *ngIf="esAutoBusqueda()">No puedes añadirte a ti mismo</i>
      </td>
    </tr>
  </table>

  <!-- caso que encuentra el usuario -->


  <!-- caso que encuentra el usuario -->
</div>
