<div *ngIf="vistaPodcast" class="vista-podcast">
  <img class="img-papel" title="Borrar lista" (click)="borrar()" src="../../assets/trash.png"/>
  <div class="hayCanciones">
    <img class="img-lista" src="../../assets/ListaDefecto.png"/><div class="nombrePlaylist">PODCAST</div>
  </div>
  <img title="Reproducir lista" (click)="reproducir(listaMostrar.podcasts);"
       class="img-repr-lista" src="../../assets/playLista.png">

  <div class="titulo-lista">{{listaMostrar.nombre}} #{{listaMostrar.id}}</div>
  <div class="artista-lista">{{usuarioLog.nick}}</div>
  <div class="marco-tabla">
    <table class="lista-playlist">
      <tr *ngFor="let podcast of listaMostrar.podcasts; let i = index">
        <td  class="listaGen"><img class="imgGenCancion" (click)="Servicio.reproducirPodcast(podcast)"
                                   src="../../assets/play-vector.svg"/></td>
        <td  class="titulos-album" (click)="
          Servicio.nextMessageVistaPodcast(false)">{{ podcast.name }}</td><td>{{podcast.artista}}</td>
        <td>{{sacarTiempo(podcast.duracion)}}</td><td>Pista {{i+1}}</td>
        <td><img title ="Borrar podcast" class="img-papel2"  (click)="borrarPodcast(podcast.id,listaMostrar.id)" src="../../assets/trash.png"/></td>
      </tr>
    </table>
  </div>
</div>
