<div *ngIf="vistaPodcast" class="vista-podcast">
  <span *ngIf="usuario.id==usuarioLog.id && listaMostrar.nombre!='Favoritos'"><img class="img-papel" title="Borrar lista" (click)="borrar()" src="../../assets/trash.png"/></span>
  <div class="hayCanciones">
    <img class="img-lista" src="../../assets/ListaDefectoPodcast.png"/><div class="nombrePlaylist">PODCAST</div>
  </div>
  <span *ngIf="listaMostrar.podcasts.length>0" (click)="reproducir(listaMostrar.podcasts);"><img title="Reproducir lista"
       class="img-repr-lista" src="../../assets/playLista.png"></span>

  <nav class="menuCSS3">
    <ul>
      <li><a href="#"><img class="iconOrden" src="../../assets/icons8-flechas-de-ordenar-100.png"></a>
        <ul>
          <li><a href="#" (click)="ordenarFecha()">Últimas añadidas</a></li>
          <li><a href="#" (click)="ordenarArtista()">Por artista</a></li>
          <li><a href="#" (click)="ordenarPorNombre()">Por nombre</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="titulo-lista">{{listaMostrar.nombre}}<span *ngIf="listaMostrar.nombre!='Favoritos'"> #{{listaMostrar.id}}</span></div>
  <div class="artista-lista">{{usuario.nick}}</div>
  <div class="marco-tabla">
    <table class="lista-playlist">
      <tr *ngFor="let podcast of listaMostrar.podcasts; let i = index">
        <td  class="listaGen"><img class="imgGenCancion" (click)="Servicio.reproducirPodcast(podcast)"
                                   src="../../assets/play-vector.svg"/></td>
        <td  class="titulos-album" (click)="
          Servicio.nextMessageVistaPodcast(false)">{{ podcast.name }}</td><td>{{podcast.artista}}</td>
        <td>{{sacarTiempo(podcast.duracion)}}</td><td>Pista {{i+1}}</td>
        <td><span *ngIf="usuarioLog.id==usuario.id"><img title ="Borrar podcast" class="img-papel2"  (click)="borrarPodcast(podcast.id,listaMostrar.id)" src="../../assets/trash.png"/></span></td>
      </tr>
    </table>
  </div>
</div>
