.logoSuperior {
  width: 15%;
  margin-left: 40%;
  margin-top: 5%;
}
/* Bordered form */


.log{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#0b1d19;
  font-family: Roboto, serif;
}
.user{
  margin-left: 40%;
  margin-top: 20%;
  font-size: 130%;

}
.passw{
  margin-left: 40%;
  margin-top: 100%;
  font-size: 130%;
}
/* Full-width inputs */
input[type=text]{
  padding: 0.75% 1.2%;
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 100%;
  margin-bottom: 2%;
  display: block;
  border: none;
  box-sizing: border-box;
}
input[type=password]{
  padding: 0.75% 1.2%;
  margin-top: 1%;
  margin-left: 40%;
  margin-right: 100%;
  display: block;
  border: none;
  box-sizing: border-box;
}
  /* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 1% 3.9%;
  margin-top: 3%;
  margin-left: 40%;
  margin-right: 31%;
  border: none;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.regbtn {
  width: auto;
  padding: 0.75% 1.2%;
  background-color: royalblue;
  margin-left:43%;
  margin-top: 2%;
}



/* Add padding to containers */
.container {
  padding: 2%;
  color:aliceblue;
}

/* Change styles for span and cancel button on extra small screens */


.datosMal{
  position: absolute;
  bottom: 24%;
  margin-left: 40.15%;
  color: red;
}

.error{
  color:red;
}
