<div *ngIf="!logeado" class="log"><br/><br/>
  <img src="../../assets/logo-white.png" class="logoSuperior">
  <div class="container">
    <label class="user"><b>Nombre de usuario</b></label>
    <input type="text" placeholder="Usuario" name="uname" required>

    <label class="passw"><b>Contraseña</b></label>
    <input type="password" placeholder="Contraseña" name="psw" required>

    <button (click)="logeado=!logeado" type="submit">Iniciar sesión</button>
  </div>

    <button (click)="logeado=true; sendMessageFather() " type="button" class="regbtn">Registrarse</button>
    <span class="psw"> <a href="#">contraseña?</a></span>

</div>
