div {
  font-family: Roboto, serif;
  background-color: #0b1d19;
  color: aliceblue;
  position: fixed;
  bottom: 2%;
  left: 40%;
}

td{
  border: double aquamarine;
}

.icono-repr{
  width: 40px;
}
