  <div *ngIf="!logeado" class="barra-inferior" >
   <div class="barra-progreso">
     <table class="barra-rep">
       <tr>
         <td  *ngIf="cancion.readyState">{{sacarTiempo(cancion.currentTime)}}</td>
         <td style="color: darkgray"  *ngIf="!cancion.readyState">00:00</td>
         <!--{{(cancion.currentTime/60).toString().charAt(0)}}:{{(cancion.currentTime%60).toFixed()}} --->
    <td style="width: 30vw"><input class="slider2" type="range" min="0" [(ngModel)]="cancion.currentTime"
                 max="{{(cancionActual.duracion)-3}}"></td>
         <td *ngIf="cancion.readyState">&nbsp;{{sacarTiempo(cancionActual.duracion)}} </td>
         <td style="color: darkgray"  *ngIf="!cancion.readyState">&nbsp;00:00</td>
       </tr>
     </table>
   </div>
  <table>
    <td>
      <img *ngIf="hayAtras()" class=icono-repr src="../../assets/previous.png" title="Anterior" (click)="retrocederLista()"/>
      <img *ngIf="!hayAtras()" class="icono-repr2" src="../../assets/previous.png" title="Anterior" (click)="retrocederLista()"/>
      <img *ngIf="cancion.paused" class=icono-repr src="../../assets/play.png" title="Reproducir" (click)="playPause()" />
      <img *ngIf="cancion.paused==false" class=icono-repr src="../../assets/pause.png" title="Pausar" (click)="playPause()" />
      <img *ngIf="hayAdelante()" class=icono-repr src="../../assets/next.png" title="Siguiente" (click)="avanzarLista()"/>
      <img *ngIf="!hayAdelante()"class=icono-repr2 src="../../assets/next.png" title="Siguiente" (click)="avanzarLista()"/>

    </td>
    <td>
      &nbsp;&nbsp;

      <img  *ngIf="!cancion.volume" class=icono-repr src="../../assets/mute.png" title="Silenciar"(click)="muteVolumen()" />
      <img  *ngIf="cancion.volume>0 && cancion.volume<0.5" class=icono-repr src="../../assets/volum-dwn.png" title="Silenciar"
            (click)="muteVolumen()" />
      <img  *ngIf="cancion.volume>=0.5" class=icono-repr src="../../assets/volum-up.png" title="Silenciar"(click)="muteVolumen()" />
     </td>
    <td style="text-align: left"><input class="slider" type="range" min="0" max="1" step=".05" [(ngModel)]="cancion.volume"></td>


  </table>
<!-- Func auxiliar -->
  </div>

  <script> // Esto intentar que chute, si no, no pasa nada.
    if ('mediaSession' in navigator) {

      navigator.mediaSession.metadata = new MediaMetadata({
        title: 'Never Gonna Give You Up',
        artist: 'Rick Astley',
        album: 'Whenever You Need Somebody',
        artwork: [
          { src: 'https://dummyimage.com/96x96',   sizes: '96x96',   type: 'image/png' },
          { src: 'https://dummyimage.com/128x128', sizes: '128x128', type: 'image/png' },
          { src: 'https://dummyimage.com/192x192', sizes: '192x192', type: 'image/png' },
          { src: 'https://dummyimage.com/256x256', sizes: '256x256', type: 'image/png' },
          { src: 'https://dummyimage.com/384x384', sizes: '384x384', type: 'image/png' },
          { src: 'https://dummyimage.com/512x512', sizes: '512x512', type: 'image/png' },
        ]
      });

      navigator.mediaSession.setActionHandler('play', function() {});
      navigator.mediaSession.setActionHandler('pause', function() {});
      navigator.mediaSession.setActionHandler('seekbackward', function() {});
      navigator.mediaSession.setActionHandler('seekforward', function() {});
      navigator.mediaSession.setActionHandler('previoustrack', function() {});
      navigator.mediaSession.setActionHandler('nexttrack', function() {});
    }
  </script>
