
.info-inferior{
  font-family: Roboto, serif;
  color: aliceblue;
  position: fixed;
  bottom: 10%;
  left: 40%;
}


.barra-inferior{
  font-family: Roboto, serif;
  background-color: #0b1d19;
  position: fixed;
  bottom: 4%;
  left: 40%;
}

.icono-repr{
  width: 40px;
  cursor: pointer;
}
