<link rel="stylesheet" href="app.component.css" TYPE="text/css">
<body>
<img (click)="Servicio.nextMessage3(false);Servicio.nextMessageVistaLista(false);Servicio.nextMessageFavListP(false); Servicio.nextMessageFavList(false);"
     src="../assets/logo-white.png" class="logoSuperior">

<app-central></app-central>
<app-registro></app-registro>
<app-panel-admin></app-panel-admin>
<app-vista-album></app-vista-album>
<app-vista-lista></app-vista-lista>
<app-vista-usuario></app-vista-usuario>

<app-reproductor></app-reproductor>
<app-panel-listas></app-panel-listas>
<app-busqueda></app-busqueda>
<app-editar-usuario></app-editar-usuario>
</body>
