<div *ngIf="esAdminLogeado()" class="vista-admin">
  <img class="logoSuperior" src="../../assets/logo-white.png" >
  <p> - Panel de administrador - Operador:
    {{this.usuarioLogeadoAd.nombre}}  {{this.usuarioLogeadoAd.apellidos}} </p>
  <button  (click)="vistaArtista()">ARTISTAS</button> &nbsp;
  <button (click)="vistaAlbum()">ÁLBUMES</button> &nbsp;
  <button (click)="vistaCancion()">CANCIONES</button>

<div *ngIf="gestArtista">
  <p>Gestión de ARTISTAS</p>
  Añadir nuevo:<br/>

  Nombre:<i style="color: red;" *ngIf="existeArtista()">Artista ya incluído</i><br/>
  <input  type="text" [(ngModel)]="nuevoArtNom" (focusin)="existeArtista()"
          (focusout)="existeArtista()"><br/><br/>

 URL imagen: <br/>
  <input  type="text" [(ngModel)]="nuevoArtImg"><br/><br/>
  <img src="{{nuevoArtImg}}" class="img-artista"/><br/><br/>

  <button *ngIf="!nuevoAgregado" (click)="agregarArtista()">Añadir</button> &nbsp;
  <i *ngIf="nuevoAgregado">{{nuevoArtNom}} agregado al sistema</i>
</div>

<div  *ngIf="gestAlbum">
  <p>Gestión de ÁLBUMS</p>

  Añadir nuevo:<br/>

  Artista autor(ahora id):<i style="color: red;" *ngIf="existeArtista()">Artista ya incluído</i><br/>
  <input  type="text" [(ngModel)]="nuevoAlbAutor" (focusin)="existeArtista()"
          (focusout)="existeArtista()"><br/><br/>

  Titulo del álbum;<br/>
  <input  type="text" [(ngModel)]="nuevoAlbTitulo" (focusin)="existeArtista()"
          (focusout)="existeArtista()"><br/><br/>

  URL Caratula: <br/>
  <input  type="text" [(ngModel)]="nuevoAlbCarat"><br/>
  <img src="{{nuevoArtImg}}" class="img-artista"/>

  Establecer canciones que contiene ({{nuevoAlbCanc.length}} actualmente)<br/>

  Titulo canción:<br/>
  <input  type="text" [(ngModel)]="cancionTitulo"><br/>

  Duración:<br/>
  <input  type="time" [(ngModel)]="cancionDuracion">{{transformarDuracion(cancionDuracion)}}<br/>

  Fecha Subida:<br/>
  <input  type="date" [(ngModel)]="cancionFecha"><br/>
  <button (click)="agregarUnaCancion()">Añadir Cancion</button> &nbsp;

  <button  (click)="agregarAlbum()">Añadir</button> &nbsp;
  <i *ngIf="nuevoAgregado">{{nuevoArtNom}} agregado al sistema</i>


</div>

<div *ngIf="gestCancion">
  <p>Gestión de ARTISTAS</p>
</div>
</div>
