<div *ngIf="esAdminLogeado()" class="vista-admin">
  <img class="logoSuperior" src="../../assets/logo-white.png" >
  <img (click)="mostrarLogin()" title="Cerrar Sesión" class="icono-logout" src="../../assets/logout.png"/>
  <p> - Panel de administrador - Operador:
    {{this.usuarioLogeadoAd.nombre}}  {{this.usuarioLogeadoAd.apellidos}} </p>

  <div class="panelAdmin">

    <button  (click)="vistaArtista(); gestArtistaAdd = true; gestArtistaDel = false;">
      ARTISTAS</button> <br/><br/>
    <button (click)="vistaAlbum(); resetListaNuevoAlb(); nuevoAlbumAgregado= false; albumEliminado = false;">ÁLBUMES</button> <br/><br/>
    <button (click)="vistaUsuario(); cargarTodosUsuarios(); gestUserPromo=false; ">USUARIOS</button>
    <hr/><br/>
    <i *ngIf="gestArtista || gestAlbum || gestUsuario">    Opciones disponibles:
    </i><br/><br/>

    <div *ngIf="gestArtista">
    <button  (click)="gestArtistaAdd = true; gestArtistaDel = false; vistaArtista(); existeArtista();" >
      AGREGAR</button><br/><br/>
    <button (click)="gestArtistaDel = true; gestArtistaAdd = false; artistaEliminado= false;
     existeArtista();" >
      ELIMINAR</button>
    </div>


    <div *ngIf="gestUsuario">
      <!-- <button  (click)="vistaUsuario(); gestUserPromo=true; cargarTodosUsuarios();" >
        PROMOCIONAR</button><br/><br/> -->

      <button (click)="gestUserPromo = false; gestArtistaAdd = false; artistaEliminado= false;
     cargarTodosUsuarios();" >
        ELIMINAR</button>
    </div>

    <button *ngIf="gestAlbum" (click)="gestAlbumDel=false">AGREGAR</button><br/><br/>
    <button *ngIf="gestAlbum" (click)="gestAlbumDel=true; albumEliminado=false;busqTitulo=''" >ELIMINAR</button>
  </div>

<div *ngIf="!gestArtista && !gestAlbum &&!gestUsuario"><br/><br/>Este panel permite añadir y eliminar artistas de la plataforma.<br/>
  Crear álbumes de un artista (que debe estar registrado ya en la plataforma), eliminar álbumes.<br/>
  Eliminar usuarios de la plataforma, y establecer usuarios como administradores.<br/>
</div>

<div *ngIf="gestArtista">
  <p>Gestión de ARTISTAS</p>

  <div *ngIf="gestArtistaAdd">
    AÑADIR nuevo artista:<br/><br/>

    Nombre:<i style="color: red;" *ngIf="!artistaUnico">Artista ya incluído</i><br/>
    <input  type="text" [(ngModel)]="nuevoArtNom" (focusin)="existeArtista()"
            (focusout)="existeArtista()"><br/><br/>

   URL imagen: <br/>
    <input  type="text" [(ngModel)]="nuevoArtImg"><br/><br/>
    <img src="{{nuevoArtImg}}" class="img-artista"/><br/><br/>

    <button class="denegado" *ngIf="!nuevoAgregado && !artistaOk()">Añadir</button>
    <button *ngIf="!nuevoAgregado && artistaOk()" (click)="agregarArtista()">Añadir</button> &nbsp;
    <i *ngIf="nuevoAgregado">{{nuevoArtNom}} agregado al sistema</i>
  </div>

  <div *ngIf="gestArtistaDel">
    ELIMINAR artista:<br/><br/>
    <div *ngIf="!artistaEliminado">
    Artista a eliminar:<i style="color: red;" *ngIf="artistaUnico && nuevoArtNom!=''"> No existe este artista en el sistema</i><br/>
    <input  type="text" [(ngModel)]="nuevoArtNom" (ngModelChange)="existeArtista()"><br/><br/>
    </div>

    <i *ngIf="!artistaEliminado"> Se eliminará el artista y todos sus álbumes asociados.</i><br/><br/>
    <button class="denegado" *ngIf="!artistaEliminado && artistaUnico" >Eliminar</button>
    <button *ngIf="!artistaEliminado && !artistaUnico && nuevoArtNom!=''" (click)="eliminarArtista()">Eliminar</button> &nbsp;
    <i *ngIf="artistaEliminado">{{nuevoArtNom}} eliminado del sistema</i>
  </div>
</div>


<div  *ngIf="gestAlbum">
  <p>Gestión de ÁLBUMES</p>
  <div *ngIf="!gestAlbumDel">
    <div *ngIf="!nuevoAlbumAgregado">

    Añadir nuevo:<br/><br/>

    Artista autor:<i *ngIf="!nuevoAlbAutorExiste" style="color: red;">Artista no encontrado</i><br/>
    <input  type="text" [(ngModel)]="nuevoAlbAutor" (focusin)="existeAutor()"
            (focusout)="existeAutor()"><br/>

    Titulo del álbum:<br/>
    <input  type="text" [(ngModel)]="nuevoAlbTitulo" (focusin)="existeArtista()"
            (focusout)="existeArtista()"><br/>

    URL Caratula: <br/>
    <input  type="text" [(ngModel)]="nuevoAlbCarat"><br/><br/>

    Establecer canciones que contiene ({{nuevoAlbCanc.length}} actualmente)<br/><br/>

    Titulo canción:<br/>
    <input  type="text" [(ngModel)]="cancionTitulo"><br/>

    Duración:<br/>
    <input  type="time" [(ngModel)]="cancionDuracion"><br/>

    Fecha Subida:<br/>
    <input  type="date" [(ngModel)]="cancionFecha"><br/><br/>
    <button (click)="agregarUnaCancion()">Añadir Cancion</button> &nbsp;


    <button class="denegado" *ngIf="!albumOk()">Añadir</button> &nbsp;
    <button *ngIf="albumOk()" (click)="agregarAlbum()">Añadir</button> &nbsp;
    </div>
    <div *ngIf="nuevoAlbumAgregado"><br/>
      Agregado al sistema: <br/><br/>
      <img src="{{nuevoAlbCarat}}" class="img-crea-album"/><br/><br/>
      Álbum <i>{{nuevoAlbTitulo}}</i> de
      <i>{{nuevoAlbAutor}}</i><br/>
      que contiene:<br/>
      <i *ngFor=" let cancion of nuevoAlbCanc; let i = index">
       Pista {{i+1}} {{cancion.nombre}} - {{cancion.duracion}}s. <br/>
      </i>
    </div>
  </div>

  <div  *ngIf="gestAlbumDel">

    Album a eliminar:<br/><br/>
    <input  type="text" [(ngModel)]="busqTitulo"><br/>
    <button (click)="buscarAlbum(); albumEliminado = false;">Buscar</button><br/><br/>
    <i *ngFor="let album of busqAlbum">
      <hr style="width: 20%"/><br/>
      <img src="{{album.caratula}}" class="img-artista-peq"/><br/><br/>
      "{{album.titulo}}" de {{album.artista}} <br/><br/>
      <button *ngIf="!albumEliminado" (click)="eliminarAlbum(album.id)">Eliminar</button><br/><br/>
      <i *ngIf="albumEliminado">Album eliminado.</i>

    </i><hr style="width: 20%"/>

  </div>



</div>

<div *ngIf="gestUsuario">
  <p>Gestión de USUARIOS</p>
  <!---
  <div  *ngIf="gestUserPromo">
    Los usarios seleccionados se convertirán en administradores.<br/><br/>
    <i style="vertical-align: middle" *ngFor="let usuario of usuarioListaTodos">
      <hr style="width: 50%"/><br/>
      - {{usuario.nick}} - {{usuario.nombre}} {{usuario.apellidos}} [ID {{usuario.id}}]
      &nbsp; &nbsp; &nbsp;
      <button (click)="hacerAdmin(usuario.id)">Hacer admin</button><br/><br/>
      <i *ngIf="usuarioEliminado==usuario.id">Usuario eliminado.</i>

    </i><hr style="width: 50%"/>

  </div>
  --->

  <div  *ngIf="!gestUserPromo">
    Los usarios seleccionados se eliminarán de la plataforma.<br>
    <i style="vertical-align: middle" *ngFor="let usuario of usuarioListaTodos">
      <hr style="width: 50%"/><br/>
      - {{usuario.nick}} - {{usuario.nombre}} {{usuario.apellidos}} [ID {{usuario.id}}]
      &nbsp; &nbsp; &nbsp;
      <button (click)="eliminarUsuario(usuario.id)">Eliminar</button><br/><br/>
      <i *ngIf="usuarioEliminado==usuario.id">Usuario eliminado.</i>

    </i><hr style="width: 50%"/>

  </div>

</div>
</div>
