<!-- <button style="bottom: 12%; right: 20%; position: fixed" (click)="show=!show;" >Vista ALBUM</button> -->
<div *ngIf="show" class="vista-album">

  <img class="img-album" src="{{albActivo.caratula}}"/><div class="etiqueta-album">ÁLBUM</div>

 <div class="titulo-album">{{albActivo.titulo}}</div>
  <div class="artista-album">{{albActivo.artista}}</div>
<div class="marco-tabla">
  <table class="lista-album">

    <tr *ngFor="let cancion of albActivo.canciones; let i = index">
      <td  class="elemento-album"><img title="Reproducir" class="img-play-album" src="../../assets/play-vector.svg"/></td>
      <td  class="titulos-album">{{ cancion.name }}</td><td>{{albActivo.artista}}</td>
      <td>{{sacarTiempo(cancion.duracion)}}</td><td>Pista {{i+1}}</td>
      <td><img class="img-play-album" (click)="anyadirAlista(0,cancion.id)" title="Añadir a lista..." src="../../assets/addToList.png" ></td>
    </tr>
  </table>
</div>
</div>
