.vista-album{
  background-color: #0b1d19;
  width: 65%;
  height: 60%;
  left: 13%;
  top: 8%;
  z-index: 1; /* Mejor fuera */
  position: fixed;

  font-family: Trebuchet MS, serif;
  color: aliceblue;
}

.img-album{
  margin-left: 2%;
  width: 11%;
}

.etiqueta-album{
  top: 8%;
  left: 22%;
  position: fixed;
  border-style: solid;
  border-color: #b4b4b4;
  border-inline-start-width: 8px;
  width: fit-content;

}

.zona-img-play{
  alignment: right;
}

.img-play-album{
  height: 35%;
  padding-right: 9%;
}

.lista-album{

  overflow: auto;
  width: 90%;
  height: 30%;
}

.marco-tabla{
  margin-left: 3%;
  height: 70%;
  width: 95%;
  overflow: auto;
  vertical-align:middle;
}



.elemento-album{
  vertical-align:middle;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 10%;
}

.titulos-album{
  width: 50%;
}

.titulo-album{
  top: 12%;
  left: 22%;
  font-size: 34px;
  display: inline-block;
  position: fixed;
}

.artista-album{
  top: 17%;
  left: 22%;
  font-size: 28px;
  font-style: italic;
  position: fixed;
}
