<!-- <button style="bottom: 12%; right: 20%; position: fixed" (click)="show=!show;" >Vista ALBUM</button> -->
<div *ngIf="show" class="vista-album">


  <div *ngIf="vistaSelCan" class= "encima">
    <div class="encuadre">
      <label class="titulo-eleccion"><b>Añadir canción a... </b></label>
      <i *ngFor="let lista of userActivo.lista_cancion; let i = index">
        <hr style="width: 50%"><br/>
        <i class="enlace" (click)="anyadirAlista(lista.id, cancionObjetivo); vistaSelCan = false;">
          {{lista.nombre}}</i>
      </i>
      <hr style="width: 50%"><br/><br/>
      <button (click)="vistaSelCan = false">Cancelar</button>
    </div>

  </div>


  <div *ngIf="vistaSelAlb" class= "encima">
    <div class="encuadre">
      <label class="titulo-eleccion"><b>Añadir álbum ({{albActivo.canciones.length}} canciones) a... </b></label>
      <i *ngFor="let lista of userActivo.lista_cancion; let i = index">
        <hr style="width: 50%"><br/>
        <i class="enlace" (click)="anyadirAlbumAlista(lista.id); vistaSelAlb = false;">
          {{lista.nombre}}</i>
      </i>
      <hr style="width: 50%"><br/><br/>
      <button (click)="vistaSelAlb = false">Cancelar</button>
    </div>

  </div>

  <img class="img-album" src="{{Servicio.URL_API+albActivo.caratula}}"/><div class="etiqueta-album">ÁLBUM</div>

  <!-- Contenido del album -->
 <div class="titulo-album">{{albActivo.titulo}}</div>
  <div class="artista-album"><span class="enlace" (click)="
              cargarArtista(albActivo.artista);
              Servicio.nextMessageArtista(true);
              Servicio.nextMessage3(false)">{{albActivo.artista}}</span></div>
  <img *ngIf="reproduccAlbum!==albActivo.titulo" title="Reproducir album" (click)="repr(albActivo.canciones);
    reproduccAlbum=albActivo.titulo; Servicio.enviarAlbumPlay(albActivo)"
       class="img-repr-album" src="../../assets/play-album.png">
  <img *ngIf="reproduccAlbum==albActivo.titulo"title="Reproducir album" (click)="repr(albActivo.canciones);
    reproduccAlbum=albActivo.titulo; Servicio.enviarAlbumPlay(albActivo)"
       class="img-repr-album" src="../../assets/play-album-activo.png">
  <img title="Añadir album a lista..." (click)="vistaSelAlb=true;" class="img-add-album" src="../../assets/addAlbumToList.png">
<div class="marco-tabla">
  <br/>
  <table class="lista-album">

    <tr *ngFor="let cancion of albActivo.canciones; let i = index">
      <td  class="elemento-album">
        <img (click)="Servicio.reproducirCancion(cancion); reproduccAlbum='';Servicio.enviarAlbumPlay(albActivo)"
             title="Reproducir" class="img-play-album" src="../../assets/play-vector.svg"/></td>
      <td  class="titulos-album">{{ cancion.name }}</td><td (click)="
              Servicio.cargarArtista(albActivo.artista);
              Servicio.nextMessageArtista(true);
              Servicio.nextMessage3(false)">{{albActivo.artista}}</td>
      <td>{{sacarTiempo(cancion.duracion)}}</td><td>Pista {{i+1}}</td>
      <td><img class="img-play-album" (click)="vistaSelCan = true; cancionObjetivo = cancion.id;"
               title="Añadir a lista..." src="../../assets/addToList.png" ></td>
    </tr>
  </table>
</div>
</div>
