.menuRecom {
  margin-left: 17%;
  margin-top: 5px;
  width: 55%;
  height: 110px;
  overflow: auto;
  position: absolute;
}

::-webkit-scrollbar {
  width: 13px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 140, 128, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.5);
}

.menuMusica {
  margin-left: 17%;
  margin-top: 150px;
  width: 26%;
  height: 40%;
  overflow: auto;
  white-space: nowrap;
  position: absolute;
}
.menuPodcast {
  margin-left: 47%;
  margin-top: 150px;
  width: 26%;
  height: 40%;
  overflow: auto;
  white-space: nowrap;
  position: absolute;
}


.recomendaciones{
  font-family: Roboto;
  color: aliceblue;
  font-size: 25px;
  position: absolute;
  margin-top: -25px;
  margin-left: 17%;
}

.cabezaCanciones{
  font-family: Roboto;
  color: aliceblue;
  font-size: 25px;
  position: absolute;
  margin-top: 120px;
  margin-left: 17%;
}

.cabezaPodcast{
  font-family: Roboto;
  color: aliceblue;
  font-size: 25px;
  position: absolute;
  margin-top: 120px;
  margin-left: 45%;
}

.imagenAlbum{
  border-radius: 10%;
  height: 70px;
  width: 70px;
  position: absolute;
  float: left;
}
.imagenAlbum:hover{
  cursor: pointer;

}

.imagenPodcast{
  border-radius: 10%;
  height: 70px;
  width: 70px;
  position: absolute;
  float: left;
  cursor: pointer;
}
.nombreAlbum{
  font-family: Roboto;
  color: aliceblue;
  margin-left: 74px;
  font-size: 20px;
  position: absolute;
  float: right;
}
.nombreAlbum:hover{
  cursor: pointer;

}

.autorAlbum{
  font-family: Roboto;
  color: aliceblue;
  margin-left: 74px;
  font-size: 18px;
  color: #919191;
  position: absolute;
  float: right;
}
.autorAlbum:hover{
  cursor: pointer;
}
.nombrePodcast{
  font-family: Roboto;
  color: aliceblue;
  margin-left: 100px;
  font-size: 20px;
  position: absolute;
  float: left;
}

.autorPodcast{
  font-family: Roboto;
  color: aliceblue;
  margin-left: 100px;
  font-size: 18px;
  color: #919191;
  position: absolute;
  float: left;
}

tr.spaceUnderRecom1>td {
  padding-bottom: 85px;
}
tr.spaceUnderRecom2>td {
  padding-bottom: 15px;
}
tr.spaceUnder>td {
  padding-bottom: 80px;
}
tr.espacioLat>td{
  padding-right:100px;
}
.img-play-album{
  height: 20px;
  margin-left: 74px;
  margin-top: 25px;
  cursor: pointer;
  position: absolute;
}
.img-add-list{
  height: 20px;
  margin-top: 25px;
  cursor: pointer;
  position: absolute;
  float: right;
}
.imagenRecomendacion{
  margin-left: 0%;
  border-radius: 10%;
  height: 90px;
  width: 90px;
  position: absolute;
  float: left;
}

.imagenRecomendacion:hover{
  cursor: pointer;
}

.menuRecom2{
  margin-left: 17%;
  overflow: auto;
  width: 26%;
  height: 60%;
  margin-top: 5px;
  white-space: nowrap;
  position: absolute;
}

.menuRecom3{
  margin-left: 47%;
  overflow: auto;
  width: 26%;
  height: 60%;
  margin-top: 5px;
  white-space: nowrap;
  position: absolute;
}

.encima{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(11,29,25,0.95);
  font-family: Roboto, serif;
}
.encuadre {
  padding: 10%;
  color:aliceblue;
  alignment: center;
  text-align: center
}
.titulo-eleccion {
  font-size: 50px;
}
button{
  cursor: pointer;
}
.enlace:hover {
  text-decoration: underline;
  cursor: pointer;
}

