<p class="recomendaciones">Te recomendamos</p>
<div class="menuRecom">
  <table>
    <tr class="espacioLat">
      <td><img class="imagenRecomendacion" src="./../assets/album/Led_Zeppelin-Led_Zeppelin_IV-Frontal.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td><img class="imagenRecomendacion" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>

    </tr>
  </table>
</div>
<p class="cabezaCanciones">Tu música</p>
<p class="cabezaPodcast">Tus podcast</p>
<div class="menuMusica">
  <table>
    <tbody>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/album/Led_Zeppelin-Led_Zeppelin_IV-Frontal.jpg"></td>
      <td class="nombreAlbum" style="margin-top: 10px">Led Zeppelin IV</td>
      <td class="autorAlbum" style="margin-top: 35px">Led Zeppelin</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td class="nombreAlbum" style="margin-top: 10px">The Book of Souls</td>
      <td class="autorAlbum" style="margin-top: 35px">Iron Maiden</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td class="nombreAlbum" style="margin-top: 10px">The Book of Souls</td>
      <td class="autorAlbum" style="margin-top: 35px">Iron Maiden</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td class="nombreAlbum" style="margin-top: 10px">The Book of Souls</td>
      <td class="autorAlbum" style="margin-top: 35px">Iron Maiden</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td class="nombreAlbum" style="margin-top: 10px">The Book of Souls</td>
      <td class="autorAlbum" style="margin-top: 35px">Iron Maiden</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/album/81IoZlwP9AL._SL1500_.jpg"></td>
      <td class="nombreAlbum" style="margin-top: 10px">The Book of Souls</td>
      <td class="autorAlbum" style="margin-top: 35px">Iron Maiden</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="menuPodcast">
  <table>
    <tbody>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/podcast1.jpg"></td>
      <td class="nombrePodcast" style="margin-top: 10px">Podcast</td>
      <td class="autorPodcast" style="margin-top: 35px">Autor</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/podcast1.jpg"></td>
      <td class="nombrePodcast" style="margin-top: 10px">Podcast</td>
      <td class="autorPodcast" style="margin-top: 35px">Autor</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/podcast1.jpg"></td>
      <td class="nombrePodcast" style="margin-top: 10px">Podcast</td>
      <td class="autorPodcast" style="margin-top: 35px">Autor</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/podcast1.jpg"></td>
      <td class="nombrePodcast" style="margin-top: 10px">Podcast</td>
      <td class="autorPodcast" style="margin-top: 35px">Autor</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/podcast1.jpg"></td>
      <td class="nombrePodcast" style="margin-top: 10px">Podcast</td>
      <td class="autorPodcast" style="margin-top: 35px">Autor</td>
    </tr>
    <tr class="spaceUnder">
      <td><img class="imagenAlbum" src="./../assets/podcast1.jpg"></td>
      <td class="nombrePodcast" style="margin-top: 10px">Podcast</td>
      <td class="autorPodcast" style="margin-top: 35px">Autor</td>
    </tr>
    </tbody>
  </table>
</div>
