.logoSuperior {
  width: 20%;
  margin-left: 10%;
}

.registro {

  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 20%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:#0b1d19;
  text-align: center;
  font-style: normal;
  font-family: Roboto, serif;
  color: aliceblue;

 }

.condiciones{
  margin-left: 10%;
  margin-right: 10%;
  font-style: normal;
  text-align: justify-all;
  font-family: Roboto, serif;
  font-size: 14px;
}

p{
  font-size: 24px;
  text-align: center;
  font-style: normal;
  font-family: Roboto, serif;
  color: aliceblue;
}

button {
  transition-duration: 0.4s;
  background-color: #358c83;
  border-radius: 10px;
}

button:hover {
  background-color: #124828; /* Green */
  color: white;
}

.denegado{
  transition-duration: 0.4s;
  background-color: #8c2528;
  border-radius: 10px;
  cursor: not-allowed;
}

.denegado:hover {
  background-color: #8c2528; /* Green */
  color: #747474;
}

input {
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-family: Roboto, serif;
  background-color: #358c83;
  color: white;
  border: 2px solid #124828;
  border-radius: 4px;
  margin: 2px 0;
  width: 20%;
  box-sizing: border-box;
}

input[type=checkbox]{
  width: 2%;
  box-sizing: border-box;
}

.muestra-imagenes{
  width: 100px;
  margin-left: 1vw;
 }

table{
  text-align: left;
  position: relative;
  left: 32vw;
}

input[type=date]{
  padding-left: 3%;
}



